name: CI

on: 
  workflow_dispatch:
    inputs:
      env:
        description: "Environnement de déploiement"
        type: choice
        options: [staging, production]
        default: staging
      debug:
        description: "Activer les logs détaillés ?"
        type: boolean
        default: false

jobs:
  test2:
    runs-on: ubuntu-latest
    steps:
       - name: checkout
         uses: actions/checkout@v4

       - name: installer les paquets systems      
         run: sudo apt-get update -y 

       - name: mise à jours du system 
         run: sudo apt-get upgrade -y 

       - name: installer nginx && docker 
         run: sudo apt-get install nginx -y && sudo apt-get install ansible -y 

       - name: Check Docker, Ansible & Nginx
         run: |
           docker --version
           ansible --version
           sudo systemctl start nginx || true
           sudo systemctl status nginx || true
           curl -I http://127.0.0.1 || true
